body {
  background-repeat: no-repeat;
  background-position: center;
  background-color: #9cc2e5;
}

body.normal {
	background-image: url("../img/pozadi.png");
}

body.OK {
	background-image: url("../img/pozadi2.png");
}

.main {
	margin : auto;
	width: 50%;
}

div.hidden {
  display: none;
}

div.visible {
	text-align: center;
	position: center;
}

input:invalid {
  border: 2px dashed red;
}

input:valid {
  border: 2px solid black;
}

input:focus:invalid {
  outline: none;
}

.center-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}